<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dynamichostingfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/68667445-958a-4c92-b173-cfab60df2c36/resourceGroups/sustainable-azure/providers/Microsoft.Web/sites/DynamicHostingFunctionApp</ResourceId>
    <UserName>$DynamicHostingFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://dynamichostingfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>