{{ readFile "./_base.helmfile.yaml" }}
{{ $local := "./charts" }}

releases:
  - <<: *default
    name: whoami-autoscaling
    namespace: app-testing
    chart: {{ $local }}/resource

  - <<: *default
    name: message-queue-consumer-autoscaling
    namespace: app-testing
    chart: {{ $local }}/resource
