apiVersion: keda.sh/v1alpha1
kind: ScaledObject
resource:
  spec:
    cooldownPeriod: 60 # seconds
    scaleTargetRef:
      name: message-queue-consumer
    minReplicaCount: 0
    maxReplicaCount: 20
    triggers:
      - type: rabbitmq
        metadata:
          host: amqp://rabbitmq:{{ .Values.rabbitmq_password }}@rabbitmq.app-testing/
          queueName: demand-shaping
          queueLength: '20' # how many message per pod
