controllers:
  main:
    containers:
      main:
        image:
          repository: sustainabilitylab.azurecr.io/load-app
          tag: latest
        resources:
          limits:
            cpu: 500m
            memory: 256Mi

service:
  main:
    controller: main
    ports:
      http:
        port: 8080

ingress:
  main:
    hosts:
      - host: load-app.{{ .Values.domain }}
        paths:
          - path: /
            service:
              identifier: main
              port: http
