<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/68667445-958a-4c92-b173-cfab60df2c36/resourcegroups/sustainable-azure/providers/Microsoft.Web/sites/DynamicHostingWebApp</ResourceId>
    <ResourceGroup>sustainable-azure</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dynamichostingwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a58785aa-78a5-4692-8626-487416e8f3db</ProjectGuid>
    <PublishUrl>https://dynamichostingwebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DynamicHostingWebApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>